<h1>React Tutorial#top</h1>

<% data = [
    { author: 'Pete Hunt', text: 'This i sone comment' },
    { author: 'Jordan', text: 'This is another comment' },
  ]
%>
<%= react_component 'CommentBox', data: data %>
